

h3.title {
  margin-bottom: -10px;
}

.product-info{
  width: 200px;
}

.tenmonan {
  font-size: 26px;
}

.giagoc{
  font-size: 24px;
  color: red;
}

.giakm{
  font-size: 17px;
  margin-left: 20px;
}

.title-detail{
  color: red;
  font-size: 47px;
}

.price-detail{
  font-size: 27px;
}

footer{
  margin-top: 50px;
}