.maincontent{
    margin-top: 20px;
    margin-bottom: 10px;
}

.left-title{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

.left-margin li{
    line-height: 40px;
    list-style-type: none;
    border-bottom: 1px dashed gainsboro;
}

.left-margin{
    margin-left: -40px;
    line-height: 40px;
}

.left-title, .right-title{
    font-size: 35px;
}

.sanphammoi {
    font-size: 23px;
}


/* ----------------------------RIGHT CONTENT ---------------------------- */

.tenmonan {
    font-size: 26px;
}

.giagoc{
    font-size: 24px;
    color: red;
}

.giakm{
    font-size: 17px;
    margin-left: 20px;
}

.tabfilter {
     display: inline-block;
 }

 .option.alert.alert-secondary {
    height: 50px;
    padding-top: 2px;
}